<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=utf-8>
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href='css/styles.css' />
</head>

{% block main %}
    Here goes the content
{% endblock %}

<script src="js/todo.js"></script>

</html>